/*---- whole body section ----*/
.aboutUs-body{
    background-color: rgb(38, 49, 35);
    height: inherit;
    text-align: center;
    align-items: center;
    align-self: center;
    justify-content: center;
    align-content: center;
}

/*---- mission statement section ----*/
.mission-statement{
    display: inline-block;
    margin-top: 5%;
    width: 90%;
    background-color: rgba(125, 103, 80, 0.75);
    text-align: left;
    border-radius: 2%;
}
.mission-statement > p {
    padding:  3%;
    font-size: 120%;
}
.mission-statement > h1 {
    color: white;
    padding: 1%;
    font-size: 150%;
    text-align: center;
}


/*---- location section ----*/
.location{
    display: inline-block;
    border-radius: 2%;
    background-color:  rgba(125, 103, 80, 0.75);
    margin-top: 25%;
    width: 90%;
    height: 40%;
}
.location h1{
    font-size: 150%;
    color: white;
}
.location > iframe{
    padding: 3%;
    border: none;
    width: 90%;
    height: 80%;
    
}
