/*---- whole body section ----*/
.donations-body{
    background-image: url("donationsBackground.jpg");
    height: 100%;
    text-align: center;
    align-items: center;
    align-self: center;
    justify-content: center;
    align-content: center;
}

/*---- mission statement section ----*/
.mission-statement{
    display: inline-block;
    margin-top: 25%;
    width: 90%;
    height: 30%;
    background-color: rgba(125, 103, 80, 0.90);
    text-align: center;
    border-radius: 2%;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, .5, .5);

}
.mission-statement > h1{
    color: white;
}