body{
    background-image: url(backgrounds/mobileMainBackground.png);
    background-position: center;
}

/*---- whole body section ----*/
.aboutUs-body{
    background-color: rgb(53, 69, 49,.99);
    height: inherit;
    width: 90%;
    text-align: center;
    align-items: center;
    align-self: center;
    justify-content: center;
    align-content: center;
    margin: auto;
    border-radius: 1%;
    box-shadow: var(--box-shadow);
}

/*---- mission statement section ----*/
.mission-statement{
    display: inline-block;
    margin-top: 5%;
    width: 80%;
    background-color: rgba(125, 103, 80, 0.90);
    text-align: left;
    border-radius: 2%;
    box-shadow: var(--box-shadow);
}
.mission-statement > p {
    padding:  1%;
    font-size: 115%;
    text-align: center; 
}
.mission-statement > h1 {
    color: white;
    padding: 1%;
    font-size: 140%;
    text-shadow: 2px 2px 2px rgb(0,0,0,.50);
    text-align: center;
    font-family: var(--h-font);
}

/*---- what we do block ----*/
.aboutUs-block{
    display: inline-block;
    margin-top: 10%;
    width: 80%;
    background-color: rgba(125, 103, 80, 0.90);
    text-align: left;
    border-radius: 2%;
    box-shadow: var(--box-shadow); 
}.aboutUs-block > p {
    padding:  1%;
    font-size: 115%;
    text-align: center; 
}
.aboutUs-block > h1 {
    color: white;
    padding: 1%;
    font-size: 140%;
    text-shadow: 2px 2px 2px rgb(0,0,0,.50);
    text-align: center;
    font-family: var(--h-font);
}

/*---- location section ----*/
.location{
    display: inline-block;
    border-radius: 2%;
    background-color:  rgba(125, 103, 80, 0.90);
    margin-top: 10%;
    width: 80%;
    height: 60%;
    box-shadow: var(--box-shadow);
}
.location > h1{
    padding-bottom: 2%;
    font-size: 140%;
    color: white;
    text-shadow: 2px 2px 2px rgb(0,0,0,.75);
    font-family: var(--h-font);
}
.location > iframe{
    border: none;
    width: 90%;
    height: 80%;
    box-shadow: var(--box-shadow);
}

/*---- Contact information ----*/
.desktop-contact-information{
    display: none;
}
.contact-information{
    display: inline-block;
    border-radius: 2%;
    background-color:  rgba(125, 103, 80, 0.90);
    margin-top: 10%;
    width: 80%;
    height: 18%;
    text-align: center;
    box-shadow: var(--box-shadow); 
}
.contact-information >h1{
    font-size: 150%;
    color: white;
    padding-bottom: 2%;
    text-shadow: 2px 2px 2px rgb(0,0,0,.75);
    font-family: var(--h-font);
}
.email-link{
    padding: 10%;
} 
.call, .email, .facebook{
    border-radius: 101%;
    box-shadow: var(--box-shadow);
}
.call:hover, .email:hover, .facebook:hover{
    opacity: 75%;
}


/*------ settings for not phone screens ------*/
@media only screen and (min-width: 600px) {
   body{
       background-image: none;
   }
   
    /*---- about us main body ----*/
    .aboutUs-body{
        display: grid;
        grid-template-areas: var(--grid-template);
        grid-gap: 100px;
        height: 100%;      
        width: 1400px;
        border-radius: 0%;
        border-top: none;
        border: solid;
        border-color: rgba(0, 0, 0);
        border-width: 1px;
    }

    /*---- about us left ----*/
    .mission-statement{
        grid-area: left;
        margin-top: 0px;
        width: 400px;
        padding: 20px;
    }.mission-statement > p {
        font-size: var(--desktop-p-size);    
    }

    .aboutUs-block{
        grid-area: left;
        margin-top: 60px;
        width: 400px;
        padding: 20px;
    }.aboutUs-block > p {
        font-size: var(--desktop-p-size);    
    }

    .contact-information{
        display: none;
    }.desktop-contact-information{
        grid-area: footer;
        display: inline-block;
        background-color:  rgba(125, 103, 80, 0.90);
        border-radius: 2%;
        text-align: center;
        box-shadow: var(--box-shadow);
        margin-top: 60px;
        width: 100%;
        height: 150px;
        padding-bottom: 20px;
        
    }.desktop-contact-information >h1{
        font-size: var(--desktop-h-size);
        font-family: var(--h-font);
        color: white;
        text-shadow: 2px 2px 2px rgb(0,0,0,.75);
        margin-left: -20px;
    }.phone-link, .email-link, .facebook-link{
        display: inline-block;
        margin-top: 10px;
        padding: 0px;
        padding-left: 50px;
        padding-right: 50px;
    }.phone-link >p, .email-link >p, .facebook-link >p{
        color: white;
        font-size: 20px;
        margin-top: 10px;
    }
    .call, .email, .facebook{
        width: 60px;
    }
    .aboutUs-block > h1, .location > h1,.mission-statement > h1, .contact-information > h1{
        margin-top: -20px;
        font-size: var(--desktop-h-size);  
    }

    /*---- about us right ----*/
    .location{
        margin-top: 0px;
        width: 500px;
        height: 550px;
        margin-right: 30%;
        padding:20px;
    }.location > iframe{
        border: none;
        width: 450px;
        height: 500px;
        box-shadow: var(--box-shadow);
    }
}
