/*---- whole body section ----*/
.gallery-body{
    background-color: rgba(53, 69, 49, 0.90);
    height: inherit;
    width: 90%;
    text-align: center;
    align-items: center;
    align-self: center;
    justify-content: center;
    align-content: center;
    margin: auto;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}
/*---- information block ----*/
.information-block{
    display: inline-block;
    width: 90%;
    height: inherit;
    margin-top: 5%;
    background-color: var(--div-background-color);
    text-align: left;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}.information-block > h1 {
    color: white;
    padding: 1%;
    font-size: 150%;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(0,0,0,.50);
    font-family: var(--h-font);;
}.information-block > p {
    padding:  1%;
    font-size: 120%;
    text-align: center;
}

/*---- reviews ----*/
.review-block{
    display: inline-block;
    width: 80%;
    height: inherit;
    margin-top: 5%;
    background-color: var(--div-background-color);
    text-align: center;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    padding: 5%;
}.review-block > h1{
    color: white;
    padding-bottom: 5%;
    font-size: 150%;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(0,0,0,.50);
    font-family: var(--h-font);
}.reviews{
    display: inline-block;
    width: 100%; 
    padding-top: 5%;
}
.reviews2{
    padding-top: 5%;
}


/*---- carousel section ----*/
.carousel-section{
    display: inline-block;
    margin-top: 10%;
    width: 90%;
    height: inherit;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgba(125, 103, 80, 0.90);
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, .5, .5);

}.carousel-container{
    position: relative;
    margin-right: 8%;
    border: 10;
    margin-left: 5%;
    overflow: hidden;
    width: 90%;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 1, 0.25);
}.carousel-slide{
    display: flex;
    height: 60%;
}

/*---- carousel buttons ----*/
#prevBtn, #nextBtn{
    position: absolute;
    top:75%;
    z-index: 10;
    font-size: 300%;
    color: white;
    opacity: 70%;
}
#prevBtn{ left:5%}
#nextBtn{ right:5%}
#nextBtn:hover, #prevBtn:hover{
    opacity: 100%;
    cursor: pointer;
    font-size: 350%;
}

/*------ settings for not phone screens ------*/
@media only screen and (min-width: 600px) {
    /*---- about us main body ----*/
    .gallery-body{
        display: grid;
        grid-template-areas: var(--grid-template);
        grid-gap: 100px;
        min-height: 100vh;
        max-height: inherit;      
        width: 1500px;
        border-radius: 0%;
        border-top: none;
        border: solid;
        border-color: rgba(0, 0, 0);
        border-width: 1px;
    }
   
    /*---- gallery left ----*/
    .information-block{
        width: 600px;
        height: 240px;
        margin-top: 0px;
    }.information-block > h1 {
        font-size:  var(--desktop-h-size);
        font-family: var(--h-font);
    }.information-block > p {
        font-size: var(--desktop-p-size);
    }

    /*---- reviews ----*/
    .review-block{
        width: 600px;
        height: 500px;
        margin-top: 50px;
        padding: 10px;
    }.review-block > h1{
        padding-bottom: 0px;
        font-size:  var(--desktop-h-size);
        font-family: var(--h-font);
    }.reviews{
        display: inline-block;
        width: 100%; 
        padding-top: 10px;
        padding-left: 25px;
    }
    .reviews2{
        display: inline-block;
        width: 100%; 
        padding-top: 10px;
        margin-left: 49px;
    }
   

    /*---- gallery right ----*/
    .carousel-section{
        margin-top: 0px;
        width: 600px;
        height: 600px;
        margin-left: -30px;
    }.carousel-container{
        margin-left: 50px;
        width: 500px;
    }.carousel-slide{
        display: flex;
        flex-direction: row;
        height: 600px;
    }
    .carousel-slide > img{
        flex: 0 0 600px;
    }

  
}